name: Automated Preprocessing Pipeline

permissions:
  contents: write

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  preprocessing:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run preprocessing script
      run: |
        python src/automate_Jeaconia-Elfrida-Tiono.py

    - name: Upload processed dataset
      uses: actions/upload-artifact@v4
      with:
        name: processed-data
        path: data/processed/

    - name: Upload preprocessing pipeline
      uses: actions/upload-artifact@v4
      with:
        name: preprocessing-pipeline
        path: preprocessing_pipeline.joblib
        
    - name: Commit processed data
      run: |
        git config user.name "github-actions"
        git config user.email "github-actions@github.com"
        git add data/processed models
        git commit -m "Auto-update processed data" || echo "No changes to commit"
        git push

